<h1>locations</h1>
<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @locations.each do |location| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= link_to location.name, location %></h2>
        <h6><%= location.created_at.strftime('%b %d, %Y') %></h6>
        <h7><%= link_to "show",  location %></h7>
        <h7><%= link_to "edit",  location %></h7>
        <h7><%= link_to "delete"%></h7>

        <tbody>
                <% @location.recordings.each do |rec| %>
                 <tr>
                     <td><%= rec.temp %></td>
                     <td><%= rec.status %></td>
                     <td><%= link_to "Borrar", location_recording_path(rec.location, rec), method: :delete, data: {confirm: "You SUre?"}  %></td>
                </tr>
                <% end %>
        </tbody>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
<h2><%= link_to "NEW",  new_location_path %></h2>