<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h3><%= @location.name %></h3>

    <p>
        Created <%= time_ago_in_words(@location.created_at) %> Ago
        
        <% if user_signed_in? %>
        
          | <button type="button" class="btn btn-success"><%= link_to "Edit", edit_location_path(@location) %> </button>
          | <button type="button" class="btn btn-danger"><%= link_to "Delete", location_path(@location), method: :delete, 
                data: {confirm: 'Are you sure?'} %></button>
          |  <button type="button" class="btn btn-basic"><%= link_to "Add Recording", new_location_recording_path(@location) %></button>
        <% end %>

        <% if @location.recordings.any? %>
            <div>
                <h2>Recording: </h2>
                <table border="2">
                    <thead>
                        <th>Temp</th>
                        <th>Estatus</th>
                <th>
                </th>
                    </thead>
                    <tbody>
                        <%= render @location.recordings%>
                    </tbody>
                </table>
            </div>
        <% else %>
            <p><em>No Recordings.</em></p>
        <% end %>

    </p>
  </div>
</div>